services:
  dagster-dagit:
    build: .
    ports:
      - 3000:3000
    environment:
      SPOTIPY_CLIENT_ID: ${SPOTIPY_CLIENT_ID}
      SPOTIPY_CLIENT_SECRET: ${SPOTIPY_CLIENT_SECRET}
      SPOTIPY_REDIRECT_URI: ${SPOTIPY_REDIRECT_URI}
  dagster-daemon:
    build: .
    command: "dagster-daemon run"
    environment:
      SPOTIPY_CLIENT_ID: ${SPOTIPY_CLIENT_ID}
      SPOTIPY_CLIENT_SECRET: ${SPOTIPY_CLIENT_SECRET}
      SPOTIPY_REDIRECT_URI: ${SPOTIPY_REDIRECT_URI}
  dagster-postgres:
    image: postgres:13.3
    ports:
      - 5432:5432
    environment:
      - POSTGRES_PASSWORD=secret
    volumes:
      - dagster-postgres:/var/lib/postgresql/data
volumes:
  dagster-postgres:
    driver: local